html {
    background-color:#eddcc9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0px;
}
#main_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#about {
    position: absolute;
    left: 50px;
    top: 250px;
}
blockquote {
    font-family: avenir next, sans-serif;
    font-size: 30px;
    position: relative;
}
.text {
    position: absolute;
    left: 450px;
    top: 250px;
}
h4 {
    font-family: avenir next, sans-serif;
    font-size: 36px;
    color:#31478b;
}
p {
    font-family: avenir next, sans-serif;
    font-size: 14px;
    width: 247px;
} /*FIX THIS*/
/*start of nav bar*/
li {
    float: left;
    list-style-type: none;
}
ul {
    position: absolute;
    top: 0;
    margin-top: 140px;
    margin-left: 85px;
}
a {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    color:dimgrey;
    text-decoration: none;
    font-family: avenir next, sans-serif;
}
/*end of nav bar*/

