html {
    background-color: aliceblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0px;
}
#main_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background: url(../images/DSC_06512.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0px 2px 10px 0px gray;
}
#logo {
    position: relative;
    top: 30px;
    left: 60px;
}
#contact {
    position: absolute;
    left: 50px;
    top: 250px;
}
#moi {
    position: absolute;
    left: 100px;
    top: 370px;
    border: dimgrey 5px solid;
    opacity: 0.85;
}
/*start of nav bar*/
li {
    float: left;
    list-style-type: none;
}

nav {
    height: 90px;
    width: 910px;
    position: absolute;
    top: 120px;
}
ul {
    position: absolute;
    top: 0;
    margin-top: 140px;
    margin-left: 285px;
}
a.navlinks {
    display: block;
    color: dimgrey;
    padding-right: 70px;
    padding-left: 70px;
    text-decoration: none;
    font-family: avenir next, sans-serif;
    transition-property: background-image -webkit-background-clip -webkit-text-fill;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
a.navlinks:hover {
    color: white;
    background-image: url(../images/gasmen.melanie.resume001%20copy.jpg);
    background-position: 35px 3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/*end of nav bar*/
h4 {
    font-family: avenir next, sans-serif;
    font-size: 36px;
    color:#31478b;
    position: absolute;
    top: 320px;
    left: 400px;
    width: auto;
    overflow: hidden;
}
/*start of contact form*/
input[type=text], select, textarea {
    background-color: #b8d7e4;
    color: white;
    width: 100%;
    padding: 15px;
    border: 1px solid #97acc3;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #b8d7e4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #94d4df;
}
.container {
    margin: auto;
    margin-left: 380px;
    margin-right: 40px;
    padding: 20px;
    margin-top: 420px;
}
/*end of contact form*/
