/*start of nav bar*/
li {
    float: left;
    list-style-type: none;
}
ul {
    position: absolute;
    top: 0;
    margin-top: 140px;
    margin-left: 85px;
}
a {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    color:dimgrey;
    text-decoration: none;
    font-family: avenir next, sans-serif;
}
/*end of nav bar*/
p {
    font-family: avenir next, sans-serif;
    color: dimgray;
}
/*FIX THIS*/
#port {
    position: absolute;
    top: -40px;
    left: 30px;
}
.box {
    width: 190px;
    height: px;
    border: #727272 solid thick;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    position: fixed;
    left: 90px;
}
