/*start of nav bar*/
li {
    float: left;
    list-style-type: none;
}
ul {
    position: absolute;
    top: 0;
    margin-top: 140px;
    margin-left: 285px;
}
a {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    color:dimgrey;
    text-decoration: none;
    font-family: avenir next, sans-serif;
}
/*end of nav bar*/
p {
    font-family: avenir next, sans-serif;
    color: dimgray;
}
/*FIX THIS*/
#port {
    position: absolute;
    left: 50px;
    top: 250px;
}
.box {
    width: 190px;
    border: #727272 solid thick;
    margin: auto;
    padding-left: 10px;
    position: absolute;
    left: 55px;
    top: 355px;
}
.img, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    width: 250px;
    background-color:darkgray;
    position: relative;
}
.img {
    height: 315px;
    top: 350px;
    left: 300px;
}
.img2 {
    height: 250px;
    top: 35px;
    left: 570px;
}
.img3 {
    height: 350px;
    top: -215px;
    left: 840px;
}
.img4 {
    height: 350px;
    top: -225px;
    left: 300px;
}
.img5 {
    height: 315px;
    left: 570px;
    top: -645px;
}
.img6 {
    height: 250px;
    left: 840px;
    top: -860px;
}
