html {
    background: url(../images/photo-landscape.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0px;
}
#main_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
h5 {
    font-family: avenir next, sans-serif;
    color: snow;
}
h1 {
    font-family: lobster, sans-serif;
    font-size: 70px;
}
#logo {
    width: 160px;
    float: right;
    margin-top: -120px;
}
.box {
    width: 760px;
    height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thick;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
}
.box2 {
    width: 760px;
    height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thin;
    padding: 30px;
    position: relative;
    top: -220px;
}
li {
    float: left;
    list-style-type: none;
}
ul {
    position: absolute;
    top: 0;
    margin-top: 140px;
    margin-left: 104px;
}
a {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    color:snow;
    text-decoration: none;
    font-family: avenir next, sans-serif;
}
