body{
    margin: 0px;
    background-image: url(../images/photo-landscape.jpg);
    background-size: cover;
}

#main_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 160px;
    position: relative;
    margin-left: auto;
    margin-right: auto;


}
