html {
  background: url(../images/photo-landscape.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    margin: 0px;
}
#main_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 160px;
    float: right;
    width: 154px;
    margin: auto;
}
.box {
    width: 760px;
    height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thick;
    margin: auto;
    visibility: visible;
}
.box {
    width: 760px;
    height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thick;
    margin: auto;
    visibility: visible;
}
.box {
    max-width: 760px;
    max-height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thick;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
}
.box2 {
    width: 760px;
    height: 372px;
    border-color: snow;
    border-style: solid;
    border-width: thin;
    margin: auto;
    padding: 30px;
    position:

}
